$notif-success-color: #fffffa;
$notif-success-background-color: #009688;
$notif-success-border-color: #009688;

$notif-error-color: #fffffa;
$notif-error-background-color: #009688;
$notif-error-border-color: #009688;
