<div mat-dialog-title>Payment Term</div>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Description</mat-label>
        <input type="text" formControlName="description" matInput required />
        <mat-error *ngIf="form.get('description').hasError('required')"
          >This is required</mat-error
        >
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Payment Type</mat-label>
        <mat-select formControlName="paymentType" required>
          <mat-option
            *ngFor="let paymentType of paymentTypes"
            [value]="paymentType.key"
            >{{ paymentType.value }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="form.get('paymentType').hasError('required')"
          >This is required</mat-error
        >
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Due After Days</mat-label>
        <input type="number" formControlName="dueAfterDays" matInput />
      </mat-form-field>
    </div>
    <div
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutGap.gt-sm="24px"
      *ngIf="isUpdateMode()"
    >
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Active</mat-label>
        <mat-select formControlName="isActive">
          <mat-option *ngFor="let type of activeTypes" [value]="type.key">{{
            type.value
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button
      *ngIf="isCreateMode()"
      mat-button
      [disabled]="!form.valid"
      color="primary"
    >
      CREATE
    </button>
    <button
      *ngIf="isUpdateMode()"
      mat-button
      [disabled]="!form.valid || form.pristine"
      color="primary"
    >
      UPDATE
    </button>
  </mat-dialog-actions>
</form>
